<app-header></app-header>

<div class="container mt-5">
    <div class="l-container">
        <div class="col">
            <div class="b-game-card row ">
                <div class="b-game-card__cover"
                    style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);">
                </div>
            </div>
            <div style="padding-bottom: 1rem!important;"></div>
            <div class="row container">
                <div style="display: flex;justify-content: center;align-items: center;">
                    <div class="Stars" style="--rating: 3.5;"></div>
                    <span style="font-size: 10px!important; color: #565959!important;">24,429</span>
                </div>
            </div>
            <div class="row container" style="display: flex;justify-content: center;align-items: center;">
                <div class="col-md-6">
                    <div class="card-body">
                        <span style="font-size: 25px;  font-weight: bolder; color:black !important;">₹500</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <i style="color:red;" class="nav-icon fas fa-heart fa-lg"></i>
                </div>
                <div class="col-md-4">
                    <i style="color:gray;" class="nav-icon fas fa-trash fa-lg"></i>
                </div>
            </div>
        </div>

    </div>
</div>