[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link {
	background-color: #fff6f6;
	color: #212529;
	border-radius: 10px;
}

.nav-item{
	
	border-radius: 10px;
  }

.bor {
	border: 1.5px solid #fff6f6;
	border-radius: 10px;
  }












  ul#tabs {
	list-style-type: none;
	padding: 0;
	text-align: center;
  }
  ul#tabs li {
	display: inline-block;
	background-color: #252525;
	border-bottom: solid 2px grey;
	padding: 10px 20px;
	margin-bottom: 4px;
	color: #fff;
	cursor: pointer;
  }
  ul#tabs li:hover {
	background-color: grey;
  }
  ul#tabs li.active {
	background-color: #00aeef;
  }
  ul#tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  #content-tab div {
	display: none;
  }
  #content-tab div.active {
	display: block;
  }
  
  #content-tab>div{
	text-align:center;
	background-color:#00618c;
	width:450px;
	margin:0 auto;
	padding:15px 10px;
	color:#fff;
  }