<section class="space-bottom-2 space-bottom-lg-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div
                    class="bg-gray-200 rounded-md py-4 py-lg-7 px-5 pl-lg-7 pr-lg-6 pb-lg-6 space-bottom-xl-1 mb-5">
                    <div class="">
                        <div class="">
                            <div class="mb-2">
                                <span class="font-weight-medium h6 text-gray-400">BEST SELLER</span>
                            </div>
                            <h6 class="font-weight-bold font-size-7">Books</h6>
                            <a href="../shop/v7.html" class="link-black-100 text-dark font-weight-medium">
                                <span class="product__add-to-cart d-inline-block">Shop Now</span>
                            </a>
                            <div class="d-flex justify-content-end mt-n2">
                                <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/350x312/img1.png"
                                    class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                                    alt="image-description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-primary p-3 mb-5 mb-lg-0 rounded-md">
                    <div class="m-1">
                        <div class="position-relative">
                            <div class="border__1 rounded-md">
                                <div class="py-5 space-lg-2">
                                    <div class="text-center mb-lg-1 py-lg-4 py-xl-2">
                                        <h6 class="font-weight-bold text-white mb-3">GET FREE NEXTDAY DELIVERY</h6>
                                        <div class="text-lh-sm mb-3">
                                            <div class="font-size-7 text-white font-weight-bold">On orders of $35
                                            </div>
                                            <span class="font-size-7 text-white font-weight-bold">or more.</span>
                                        </div>
                                        <div class="">
                                            <a href="../shop/v7.html"
                                                class="text-white h-border-bottom-white h6 font-weight-medium"
                                                tabindex="0">Start Shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-md-block position-absolute bottom-n14 left-30">
                                <i class="flaticon-delivery font-size-17 text-red-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <div class="bg-gray-200 height-md-350 pt-5 pt-lg-6 pl-5 pl-lg-7  rounded-md">
                        <div class="position-relative z-index-2">
                            <h2 class="font-size-7 mt-lg-1 text-lh-md">
                                <span class="hero__title-line-1 font-weight-bold d-block">New Books</span>
                                <span class="hero__title-line-2 font-weight-normal d-block">Available</span>
                            </h2>
                            <a href="../shop/v7.html" class="link-black-100 text-dark font-weight-medium">
                                <span class="product__add-to-cart d-inline-block">Shop Now</span>
                            </a>
                        </div>
                        <div
                            class="d-flex justify-content-end d-md-block position-md-absolute bottom-md-30 mb-n1 right-md-30">
                            <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/442x234/img1.png"
                                class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                                alt="image-description">
                        </div>
                    </div>
                </div>
                <div class="position-relative">
                    <div class="bg-gray-200 height-md-470 pt-4 pl-5 pl-lg-7 pt-lg-7 rounded-md">
                        <div class="">
                            <div class="space-bottom-1 space-bottom-md-6">
                                <div class="mb-2">
                                    <span class="font-weight-medium h6 text-gray-400">DEAL OF THE WEEK</span>
                                </div>
                                <h6 class="font-weight-bold font-size-7">Made For You</h6>
                                <a href="../shop/v7.html" class="link-black-100 text-dark font-weight-medium">
                                    <span class="product__add-to-cart d-inline-block">Shop Book</span>
                                </a>
                            </div>
                            <div
                                class="d-flex justify-content-end d-md-block position-md-absolute bottom-md-65 right-0">
                                <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/400x296/img1.png"
                                    class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                                    alt="image-description">
                            </div>
                            <div class="d-flex align-items-stretch pb-1">
                                <div class="py-2d75 text-primary-home-v3 mr-5">
                                    <span class="font-weight-medium font-size-3">114</span>
                                    <span class="font-size-2">Days</span>
                                </div>
                                <div class="py-2d75 text-primary-home-v3 mr-5">
                                    <span class="font-weight-medium font-size-3">03</span>
                                    <span class="font-size-2">Hours</span>
                                </div>
                                <div class="py-2d75 text-primary-home-v3 mr-5">
                                    <span class="font-weight-medium font-size-3">60</span>
                                    <span class="font-size-2">Mins</span>
                                </div>
                                <div class="py-2d75 text-primary-home-v3">
                                    <span class="font-weight-medium font-size-3">25</span>
                                    <span class="font-size-2">Secs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>