<section class="space-bottom-2 space-bottom-lg-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bg-gray-200 rounded-md py-4 py-lg-7 px-5 pl-lg-7 pr-lg-6 pb-lg-6 space-bottom-xl-1 mb-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-2">
                                <span class="font-weight-medium h6 text-gray-400">BOOKS</span>
                            </div>
                            <br>
                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                <a style="width:200px" routerLink="/new" class="banner_btn btn btn-wide btn-primary text-white">New
                                    Books</a>
                            </div>
                            <br>
                            <div class="media-body align-self-center mb-4 mb-lg-0">
                                <a style="width:200px" routerLink="/featured"
                                    class="banner_btn btn btn-wide btn-primary text-white">Featured Books</a>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-end mt-n2">
                                <img style="max-width: 100%;"
                                    src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/350x312/img1.png"
                                    class="img-fluid attachment-shop_catalog size-shop_catalog wp-post-image"
                                    alt="image-description">
                            </div>
                        </div>
                        <div class="space-bottom-2"></div>



                    </div>



                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary p-3 mb-5 mb-lg-0 rounded-md">
                    <div class="m-1">
                        <div class="position-relative">
                            <div class="border__1 rounded-md">
                                <div class="py-5 space-lg-2">
                                    <div class="text-center mb-lg-1 py-lg-4 py-xl-2">
                                        <h6 class="font-weight-bold text-white mb-3">GET FREE NEXTDAY DELIVERY</h6>
                                        <div class="text-lh-sm mb-3">
                                            <div class="font-size-7 text-white font-weight-bold">On orders of ₹350
                                            </div>
                                            <span class="font-size-7 text-white font-weight-bold">or more.</span>
                                        </div>

                                        <p class="text-white  h6 font-weight-medium" tabindex="0">Start Shopping</p>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>