<div class="banner space-bottom-2 space-bottom-lg-3">
    <div class="container">
        <div class="bg-dark pl-xl-10 px-6 py-5 pt-lg-8 pb-lg-7s rounded-md">
            <div class="media d-block d-lg-flex">
                <div class="media-body align-self-center mb-4 mb-lg-0">
                    <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold">Available Once a Year
                    </p>
                    <h2 class="banner__title font-size-10 font-weight-bold text-white mb-4">Get 50% off on orders
                        over ₹500</h2>
                    <a routerLink="/books"
                        class="banner_btn btn btn-wide btn-primary text-white">Explore Books</a>
                </div>
                <img src="https://demo2.madrasthemes.com/bookworm-html/redesigned-octo-fiesta/assets/img/450x235/img1.png"
                    class="img-fluid" alt="image-description">
            </div>
        </div>
    </div>
</div>