<app-sidebar></app-sidebar>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-shopping-cart mr-1"></i>
                    Coupons
                  </h3>
                  <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-link" href="/admin-coupons#add-new" data-toggle="tab">Add New</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active-link" href="/admin-coupons#enable-disable" data-toggle="tab">Enable/Disable</a>
                      </li>
                    </ul>
                  </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content p-0">
                    <!-- Morris chart - Sales -->
                    <div class=" tab-pane"   id="add-new" style="position: relative; height: 300px;">
                     </div>
                    <div class="tab-pane" id="enable-disable" style="position: relative; height: 300px;">
                      dsdm
                    </div>
                  </div>
                </div><!-- /.card-body -->
              </div>
        </div><!-- /.container-fluid -->
    </div>

</div>