<app-header></app-header>
<app-headings>
    <div hd1>Coupons</div>
    <div hd2>JUST FOR YOU</div>
</app-headings>

<div class="container">
    <div class="row ">
        <div class="space-bottom-1"></div>
        <div class="announcement space-bottom-2">
            <div class="coupon">
                <input type="text" value="CODEPEN50" id="couponCode" readonly />
                <div class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        Copy
                    </button>
                </div>
            </div>
        </div>
        <div class="announcement space-bottom-2">
            <div class="coupon">
                <input type="text" value="CODEPEN50" id="couponCode" readonly />
                <div class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        Copy
                    </button>
                </div>
            </div>
        </div>
        <div class="announcement space-bottom-2">
            <div class="coupon">
                <input type="text" value="CODEPEN50" id="couponCode" readonly />
                <div class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        Copy
                    </button>
                </div>
            </div>
        </div>
        <div class="announcement space-bottom-2">
            <div class="coupon">
                <input type="text" value="CODEPEN50" id="couponCode" readonly />
                <div class="tooltip">
                    <button onclick="myFunction()" onmouseout="outFunc()">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        Copy
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
