<!--
<div class="container">
    <div class="card" *ngIf="bookData">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid" [src]="bookData.BImgPath" alt="">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h3 class="card-title">{{bookData.BTitle}}</h3>
                <h6>{{bookData.BDesc}}</h6>
                <p class="card-text">{{bookData.BCat}}</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | ChartJS</title>


    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
</head>
<app-header></app-header>
<div class="row">
    <div class="col-md-1 space-bottom-1"></div>
    <div class="row">
        <!--<div class="col-12 col-sm-6">
            <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review
            </h3>
            <div class="col-12">
                <img src="https://adminlte.io/themes/v3/dist/img/prod-1.jpg" class="product-image"
                    alt="Product Image">
            </div>

        </div>-->
        <div class="col">


            <div class="container">

                <div style="box-shadow: none;" class="card-container">
                    <input type="radio" name="colors-btn" id="color-1" checked>
                    <div class="shoe-area col-md-5">
                        <div class="floating-div">
                        <!-- <div> -->
                            <div class="shoe-1">
                            <!-- <div> -->
                                <img [src]="bookData.BImgPath"
                                    alt="book">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-10">

                        <div class="">
                            <span style="color: #565959!important;font-size: 18px; line-height: 1.5; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{bookData.BDesc}}</span>
                            <span style="display: block;color: #111;font-size: 24px;line-height: 1.33;margin-bottom: 12px;overflow: hidden;max-height: 4em;">{{bookData.BTitle}}</span>
                            <div>
                                <div>

                                    <div class="Stars" style="--rating: 3.5;"></div>
                                    <span style="font-size: 10px!important; color: #565959!important;">24,429</span>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-10 text-gray-400" style=" line-height: 1.5; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 12px;max-height: 4em;">This shocking and provocative question is at the core of the remarkable book.</div>
 
                            <div style="width:250px" class="card-body">
                                <span style="font-size: 35px;  font-weight: bolder; align-items: center; color: #111 !important;">₹{{bookData.BPrice}}</span>
                            </div>
                            <a (click)=handleAddToCart(bookData) style="font-weight: bolder; width:250px" class="banner_btn btn btn-wide btn-primary text-white">ADD TO CART <i class="fas fa-shopping-cart"></i></a>
                            <div style="padding-bottom: 1rem !important;" class="space-bottom-1"></div>
                            <a (click)="handleAddToWishList(bookData)" style="border:none; background-color: lightgray; color:red!important; font-weight: bolder; width:250px" class="banner_btn btn btn-wide btn-primary text-white">   WISHLIST  <i style="color: red;" class="fas fa-heart"></i></a>
                            <div style="padding-bottom: 1rem !important;" class="space-bottom-1"></div>
                            <a routerLink="/rating" (click)=handleAddToCart(bookData) style="font-weight: bolder; width:250px; border: #fff6f6; background-color: #fff6f6; color:blueviolet!important; " class="banner_btn btn btn-wide btn-primary text-white">RATE THE BOOK <i class="fas fa-star"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>