<div class="container">
    <div class="card" *ngIf="bookData">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid" [src]="bookData.BImgPath" alt="">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h3 class="card-title">{{bookData.BTitle}}</h3>
                <h6>{{bookData.BDesc}}</h6>
                <p class="card-text">{{bookData.BCat}}</p>
                
                </div>
            </div>
        </div>
    </div>
</div>